@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@plugin 'tailwind-scrollbar';

@theme {
  --color-primary-500: #0052cc;
  --color-primary-600: #0041a3;
  --color-primary-100: #deebff;

  --color-accent-500: #00875a;
  --color-accent-600: #006644;

  --color-background: #f8f9fa;
  --color-surface: #ffffff;
  --color-text-primary: #172b4d;
  --color-text-secondary: #6b778c;
  --color-border: #dfe1e6;

  --color-success: #00875a;
  --color-warning: #ffab00;
  --color-danger: #de350b;

  --font-display: "Montserrat", sans-serif;
  --font-body: "Poppins", sans-serif;

  --spacing-base: 0.25rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;

  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);

  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}
